.login-container{
    width: 100%;
    height: 100vh;
    background-image: url('../img/fundo-login.png');
    background-size: cover;
    display: flex;
    align-items: center;
}

.login-box{
    width: 30%;
    height: 55%;
    margin: auto;
    background-color: #ffffffb9;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
}

.login-forms{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-forms h1{
    color: #262626;
    font-size: 28px;
    display: flex;
    justify-content: center;
}